.mtnbck2{
    z-index: -1;
    position: fixed;
    top: 0%;
    left: -20%;
}

.wrapper {
  box-sizing: content-box;
  margin-top: 10%;
  margin-left: 40%;
  margin-right: 5%;
  margin-bottom: 10%;
  max-width: 100%;
  display: grid;
  grid-template-columns:1fr auto 1fr;
  grid-gap: 2%;
  grid-auto-rows: fit-content;
}
.one {
  grid-column: 1 ;
  grid-row: 1;

}
.two {
  grid-column: 2;
  grid-row: 1 / 7;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  z-index: 10;
}
.fbut{
	border-radius: 50%;
	background-color: rgb(3, 3, 2);
	width: 10px;
	height: 10px;
}
.fbut:hover{
    background-color: blue;
}
.three {
  grid-column: 3;
  grid-row: 2 ;

}
.four{
    grid-column: 1;
    grid-row: 3 ;

}
.five{
    grid-column: 3;
    grid-row: 4 ;

}
.six{
    grid-column: 1;
    grid-row: 5 ;

}
.oneb {
    grid-column: 2 ;
    grid-row: 1;
    margin-top: 150%;
    z-index: 15;
}
.threeb {
    grid-column: 2;
    grid-row: 2 ;
    margin-top: 150%;
    z-index: 15;
}
.fourb{
    grid-column: 2;
    grid-row: 3 ;
    margin-top: 150%;
    z-index: 15;
}
.fiveb{
    grid-column: 2;
    grid-row: 4 ;
    margin-top: 150%;
    z-index: 15;
}
.sixb{
    grid-column: 2;
    grid-row: 5 ;
    margin-top: 150%;
    z-index: 15;
}
.one, .three, .four, .five, .six{
    border-radius: 5px;
    gap: 0%;
    border: 4px solid rgb(0, 0, 0);
    background-color: rgb(239, 229, 229);
}
.image1{
    border: 4px solid rgb(0, 0, 0);
    border-color: black;
    border-radius: 50%;
    margin-top: 0%;
    width: 30%;
    height: 100px;
}
.frii{
    display: flex;
    gap: 1%;
}
.frii1{
    display: flex;
    gap: 10%;
}