.mtnbck1{
  text-align: center;
  z-index: -1;
  position: fixed;
  top: 0%;
  right: -20%;
}

.wrapper1 {
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 30%;
  display: grid;
  grid-template-columns:(40, 1fr);
  grid-gap: 0px;
  grid-auto-rows: 120px;
}
.one {
  grid-column: 16/41 ;
  grid-row: 1;
}
.two {
  grid-column: 11/36;
  grid-row: 2;
}
.three {
  grid-column: 6/31;
  grid-row: 3 ;
}
.four{
    grid-column: 1/26;
    grid-row: 4 ;
}
.one, .two, .three, .four{
  box-sizing: content-box;
  border-radius: 0px;
  display: flex;
  flex-direction: row;
  gap: 2%;
  border: 4px solid rgb(0, 0, 0);
  background-color: rgb(239, 229, 229);
}

.imagep1{
    flex: 0 0 20%;
    border: 4px solid rgb(0, 0, 0);
    border-color: black;
    height: 108px;
    width: 130px;

}
.imagep2{
    flex: 0 0 20%;
    border: 2px solid rgb(0, 0, 0);
    border-color: black;
    height: 108px;
    width: 130px;

}
.parap1{
    flex: 0 0 70%;
    margin-top: 0px;

}
.devant{
  color: blueviolet;

}
.reseau1{
	  display: inline-grid;
    float: right;
	  margin-bottom: -100px;
    grid-template-columns:auto auto;
    grid-gap: 0px;
    grid-auto-rows: 30px;
}
