.mtnbck3{
    text-align: center;
    z-index: -1;
    position: fixed;
    top: 0%;
    right: -20%;
}

.wrapper3 {
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 30%;
  margin-bottom: 10%;
  max-width: 100%;
  display: grid;
  grid-template-columns:(40, 1fr);
  grid-gap: 7%;
  grid-auto-rows:auto;
  font-family:Brush Script MT, Brush Script Std, cursive ;
}
.cita{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: xx-large;
}
.h1{
  margin-top: 0px;
}