html {
  margin :0;
}
body {
	background: #00b4ff;
	color: #333;
	font: 100% Arial, Sans Serif;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
.headset{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100px;
	display: flex;
	width: 100%;

}

.logo{
	height: 100px;
	width: 100px;
}

.boutons{
	flex: 0 0 80%;
	gap: 15px;
	text-align: right;
}
.button{
	height: 50px;
	width: 200px;
}

.mtnbck{
    text-align: center;
    z-index: -1;
    position: fixed;
    top: 0%;
    left: 10%;
}

.mainall{
    position: relative;
    top : 120px;
    display:flex;
    flex-direction: column;
    gap: 20px;
    margin-left :2%;
    margin-right :2%;
    margin-bottom: 10%;
}
.section1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap:50px;

}
.para{
	margin: 15px;
}
.s1-section1{
    flex: 0 0 50%;
    border: 10px;
    border-style: double;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f0eaea;
}
.s2-section1{
    flex: 0 0 max-width;
    border: 10px;
    border-style: double;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f0eaea;
}
.section2{
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.photodroite{
    display: flex;
    flex-direction: row;
    height: 250px;
}
.photogauche{
    display: flex;
    flex-direction: row;
    height: 250px;
}
.parad{
    border: 10px;
    border-style: double;
    width: 100%;
    height: 150px;
    position: relative;
    top:50px;
    text-align: right;
    background-color: #f0eaea;
}
.parag{
    border: 10px;
    border-style: double;
    width: 100%;
    height: 150px;
    position: relative;
    top:50px;
    background-color: #f0eaea;
}
.imaged{
    z-index: 1;
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
.imageg{
    z-index: 1;
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
footer{
    display: flex;
    width: 100%;
    height: 200px;
    background-color: rgb(78, 68, 181);
    
}
.footer:hover{
	background-color: #333;
}
/* Subject to change *//* Subject to change */
/* Subject to change *//* Subject to change */
/* Subject to change *//* Subject to change */
#background-wrap {
    bottom: 0;
	left: 0;
	padding-top: 50px;
	position: fixed;
	right: 0;
	top: 0;
    z-index: -1;
}
#background-wrap2 {
    bottom: 0;
	left: 0;
	padding-top: 50px;
	position: fixed;
	right: 0;
	top: 0;
    z-index: 2;
}


/* Subject to change */
/* KEYFRAMES */

@-webkit-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

/* ANIMATIONS */

.x1 {
	-webkit-animation: animateCloud 35s linear infinite;
	-moz-animation: animateCloud 35s linear infinite;
	animation: animateCloud 35s linear infinite;
	
	-webkit-transform: scale(0.65);
	-moz-transform: scale(0.65);
	transform: scale(0.65);
    z-index: 1;
}

.x2 {
	-webkit-animation: animateCloud 20s linear infinite;
	-moz-animation: animateCloud 20s linear infinite;
	animation: animateCloud 20s linear infinite;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
    z-index: -1;
}

.x3 {
	-webkit-animation: animateCloud 30s linear infinite;
	-moz-animation: animateCloud 30s linear infinite;
	animation: animateCloud 30s linear infinite;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
    z-index: 2;
}

.x4 {
	-webkit-animation: animateCloud 18s linear infinite;
	-moz-animation: animateCloud 18s linear infinite;
	animation: animateCloud 18s linear infinite;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
    z-index: -3;
}

.x5 {
	-webkit-animation: animateCloud 25s linear infinite;
	-moz-animation: animateCloud 25s linear infinite;
	animation: animateCloud 25s linear infinite;
	
	-webkit-transform: scale(0.55);
	-moz-transform: scale(0.55);
	transform: scale(0.55);
    z-index: 4;
}
.x10 {
	-webkit-animation: animateCloud 21s linear infinite;
	-moz-animation: animateCloud 21s linear infinite;
	animation: animateCloud 21s linear infinite;
	
	-webkit-transform: scale(0.25);
	-moz-transform: scale(0.25);
	transform: scale(0.25);
}
.x11 {
	-webkit-animation: animateCloud 25s linear infinite;
	-moz-animation: animateCloud 25s linear infinite;
	animation: animateCloud 25s linear infinite;
	
	-webkit-transform: scale(0.15);
	-moz-transform: scale(0.15);
	transform: scale(0.15);
}
.x12 {
	-webkit-animation: animateCloud 35s linear infinite;
	-moz-animation: animateCloud 35s linear infinite;
	animation: animateCloud 35s linear infinite;
	
	-webkit-transform: scale(0.35);
	-moz-transform: scale(0.35);
	transform: scale(0.35);
}

/* OBJECTS */

.cloud {

	background: #fff;
	background: -moz-linear-gradient(top,  #fff 5%, #f1f1f1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f1f1f1));
	background: -webkit-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -o-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -ms-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );
	
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	
	-webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);

	height: 120px;
	position: relative;
	width: 350px;
}

.cloud:after, .cloud:before {
    background: #fff;
	content: '';
	position: absolute;
	z-indeX: -2;
}

.cloud:after {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;

	height: 100px;
	left: 50px;
	top: -50px;
	width: 100px;
}

.cloud:before {
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;

	width: 180px;
	height: 180px;
	right: 50px;
	top: -90px;
}