html {
  margin :0;
  height: fit-content;
  overflow-x: scroll;
  overflow-y: scroll;
}
body {
	background: #00b4ff;
	color: #333;
	font: 100% Comic Sans MS, Comic Sans, cursive;
	height: fit-content;
	margin: 0;
	padding: 0;
}
.headset{
	position: absolute;
	top: 3%;
	left: 0px;
	height: 100px;
	display: flex;
	width: 100%;
}

.logo{
	height: 100px;
	width: 100px;
}

.boutons{
	flex: 0 0 80%;
	gap: 15px;
	text-align: right;
	z-index: 10;
}
.b1{
	height: 50px;
	width: 200px;
	z-index: 10;
	background-image: url(/Images/cloud.png);
	border: 0cap;
	background-color: transparent;
	font: 100% URW Chancery L, cursive, italic;
	font-weight: 900;
}
.b1:hover{
	background-image: url(/Images/cloud2.png);
}

.mtnbck{
    text-align: center;
    z-index: -1;
    position: fixed;
    top: 0%;
    left: 10%;
}
.thetitle{
	font-family:Brush Script MT, Brush Script Std, cursive ;
	font-size:xx-large;
	text-align: center;
	margin-top: 7%;
}
.thetitle1{
	font-family:Brush Script MT, Brush Script Std, cursive ;
	font-size:xx-large;
	margin-top: 2%;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding-left: 15px;
    padding-right: 15px;
    background-image: url(/Images/cloud.png);
    background-size: 100% 100%;
}
.maintitle{
    text-align: center;
    margin-bottom: 0px;
}

.mainall{
    position: relative;
    top : 7%;
    display:flex;
    flex-direction: column;
    gap: 20px;
    margin-left :2%;
    margin-right :2%;
    margin-bottom: 10%;
}
.section1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap:50px;
}
.para{
	margin: 15px;
}
.s1-section1{
    flex: 0 0 50%;
    border: 10px;
    border-style: double;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f0eaea;
}
.s2-section1{
    flex: 0 0 max-width;
    border: 10px;
    border-style: double;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f0eaea;
}
.section2{
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.photogauche, .photodroite{
    display: flex;
    flex-direction: row;
    height: fit-content;
    align-items:center;
}
.parag, .parad{
    border: 10px;
    border-style: double;
    width: 100%;
    height: fit-content;
    position: relative;
    background-color: #f0eaea;
    padding: 2%;
}
.imaged{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.imageg{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
footer{
    background-color:transparent;
}
.reseau{
	display: inline-grid;
    margin-left: 0%;
	margin-bottom: -100px;
    grid-template-columns:auto auto;
    grid-gap: 0px;
    grid-auto-rows: 30px;
	background-color: aquamarine;
}
.gith{
  grid-column: 1 ;
  grid-row: 1;
}
.fb{
  grid-column: 2 ;
  grid-row: 1;
}
.insta{
  grid-column: 1 ;
  grid-row: 2;
}
.discord{
  grid-column: 2 ;
  grid-row: 2;
}
.insta, .discord, .fb, .gith{
  border: 4px solid rgb(0, 0, 0);
  z-index: 30;
}



/* Subject to change *//* Subject to change */
/* Subject to change *//* Subject to change */
/* Subject to change *//* Subject to change */
#background-wrap {
    bottom: 0;
	left: 0;
	padding-top: 50px;
	position: fixed;
	right: 0;
	top: 0;
    z-index: -2;
}
#background-wrap2 {
    bottom: 0;
	left: 0;
	padding-top: 50px;
	position: fixed;
	right: 0;
	top: 0;
    z-index: 2;
}


/* Subject to change */
/* KEYFRAMES */

@keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

/* ANIMATIONS */

.x1 {
	animation: animateCloud 35s linear infinite;
	transform: scale(0.65);
    z-index: 1;
}

.x2 {
	animation: animateCloud 20s linear infinite;
	transform: scale(0.3);
}

.x3 {
	animation: animateCloud 30s linear infinite;
	transform: scale(0.5);
}

.x4 {
	animation: animateCloud 18s linear infinite;
	transform: scale(0.4);
}

.x5 {
	animation: animateCloud 25s linear infinite;
	transform: scale(0.55);
}
.x10 {
	animation: animateCloud 21s linear infinite;
	transform: scale(0.25);
}
.x11 {
	animation: animateCloud 25s linear infinite;
	transform: scale(0.15);
}
.x12 {
	animation: animateCloud 35s linear infinite;
	transform: scale(0.35);
}

/* OBJECTS */

.cloud {
	background: #fff;
	border-radius: 100px;
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	height: 120px;
	position: relative;
	width: 350px;
}

.cloud:after, .cloud:before {
    background: #fff;
	content: '';
	position: absolute;
}

.cloud:after {
	border-radius: 100px;
	height: 100px;
	left: 50px;
	top: -50px;
	width: 100px;
}

.cloud:before {
	border-radius: 200px;
	width: 180px;
	height: 180px;
	right: 50px;
	top: -90px;
}
