.mtnbck1{
    text-align: center;
    z-index: -1;
    position: fixed;
    top: 0%;
    right: -20%;
}
* {
  box-sizing: border-box;
}
.wrapper1 {
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 40%;
  max-width: 100%;
  display: grid;
  grid-template-columns:(40, 1fr);
  grid-gap: 0px;
  grid-auto-rows: 140px;
}
.one {
  grid-column: 16/41 ;
  grid-row: 1;
  border: 4px solid rgb(0, 0, 0);
  background-color: rgb(192, 183, 183);
  border-radius: 5px;
}
.two {
  grid-column: 11/36;
  grid-row: 2;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  z-index: 10;
}
.three {
  grid-column: 6/31;
  grid-row: 3 ;
  border: 2px solid rgb(233, 171, 88);
  border-radius: 5px;
}
.four{
    grid-column: 1/26;
    grid-row: 4 ;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    gap: 5%;
    border: 4px solid rgb(0, 0, 0);
    background-color: rgb(239, 230, 230);
}
.imagep1{
    flex: 0 0 20%;
    border: 4px solid rgb(0, 0, 0);
    border-color: black;
    height: 135px;
    width: 150px;

}
.parap1{
    flex: 0 10% 70%
}